* {
    box-sizing: border-box;
    
}
h1 {
    background-color: #EDEDE9;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 10px;
    width: 100%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}


/* Barre de navigation */

.navbar {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    background-color: #113946;
    font-family: 'Raleway', sans-serif;
  }
  
  /* Liens barre de navigation */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Conteneur du menu déroulant */
.dropdown {
    float: left;
    overflow: hidden;
}
  
  /* Bouton menu déroulant */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Nécessaire pour ligne verticale sur mobile */
    margin: 0; /* Nécessaire pour ligne verticale sur mobile */
}
  
  /* Background colour hover, navbar */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #BCA37F;
}
  
  /* Contenu du menu déroulant (caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #113946;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Liens dans le menu déroulant */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  /* Background colour hover */
.dropdown-content a:hover {
    background-color: #BCA37F;
}
  
  /* Fait apparaître le menu déroulant when hovering */
.dropdown:hover .dropdown-content {
    display: block;
}


.description_contenu{
    width: 50%;
    float: left;
    padding-top: 5%;
    padding-left: 3%;
}


.description h2{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 30px;
    text-align: left;
    float: left;
    padding: 5px;
}

.description p{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 20px;
    text-align: left;
    float: left;
}






/* Footer */

.name{
    font-family:'Geologica', sans-serif;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

.date{
    font-family:'Geologica', sans-serif;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;   
}

